<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.btlappgiaitri">
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name=".message.EmojiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="TikTok"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTLAppGiaiTri">
        <activity
            android:name=".personal.EdipPersonalActivity"
            android:exported="false" />
        <activity
            android:name=".message.AddRoomChat"
            android:exported="false" />
        <activity
            android:name=".Login.personalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Home.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".AddVideo.AddVideoActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Login.ForgetPassActivity"
            android:exported="false" />
        <activity
            android:name=".message.ListMessageActivity"
            android:exported="false" />
        <activity
            android:name=".message.MessageItemActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".navigation_bar.navigationBarActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".entertain.MovieActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".entertain.MusicActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".personal.PersonalActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".message.MessageActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>